[submodule "themes/visual-studio-code"]
	path = themes/visual-studio-code
	url = https://github.com/thanos-theme/visual-studio-code
[submodule "themes/windows-terminal"]
	path = themes/windows-terminal
	url = https://github.com/thanos-theme/windows-terminal
